jinja2
pytest-asyncio
requests>=2.31.0
cryptography>=41.0.0
pyopenssl>=23.2.0
python-dateutil>=2.8.2
pycryptodome>=3.18.0
certifi>=2023.7.22
urllib3>=2.0.4
mysql-connector-python>=8.0.0
jpholiday>=1.0.2
pandas>=2.0.0
aiohttp>=3.8.0
aiofiles>=23.0.0
sqlalchemy
greenlet
pymysql
python-dotenv
httpx
retry
fastapi<0.100
uvicorn
pydantic<2
greenlet<3
pytest-mock
gunicorn
aiomysql
asyncache
aiosqlite